* {
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(47, 56, 97);
}

.main {
    align-self: center;
    margin-left: 32%;
    margin-right: 32%;
}

h1 {
    
    font-size: 80px;
    text-align: center;
    text-decoration: double;
}

.index-img {
    width: 100%;
    height: auto;
}

.descr {
    margin-top: 0%;
    margin-bottom: 25px;
}
.descr a {
    text-decoration: none;
}

.nav {
    margin-left: 30%;
    margin-right: 30%;
}

button {
    background-color: orange;
    border-color: rgb(47, 56, 97);
    font-size: 18px;
    font-weight: 700;
}