* {
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(47, 56, 97);
}

.main {
    margin: 0 auto;
}

h1 {
    
    font-size: 80px;
    text-align: center;
    text-decoration: double;
}

.recipes {
    display:flex
}

.item {
    flex-grow: 1;
    margin: 0 10px
}

.index-img {
    width: 100%;
    height: 100%;
}

.descr {
    margin-top: 0%;
    margin-bottom: 25px;
}

.descr a {
    text-decoration: none;
}

.recipe-title{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.recipe-img {
    width: auto;
    height: 300px;
}

.recipe-text {
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.nav {
    margin: auto;
}

button {
    background-color: orange;
    border-color: rgb(47, 56, 97);
    font-size: 18px;
    font-weight: 700;
}